#
# CentOS 7 の openldap-server の初期設定を変更するためのLDIF
# 注意:
# このままでは、一般ユーザーも他人のデータを取れる。
# 権限を変更したければ、olcAccess を追加すること。
#
# usage
# ldapmodify -Y EXTERNAL -H ldapi://  -f 00change_config_rootdn.ldif
#
# see also
# http://qiita.com/kazukikudo/items/703d6e6664e13882fa0b

dn: olcDatabase={1}monitor,cn=config
changetype: modify
replace: olcAccess
# 先頭にスペースがある行は前の行の継続を表す。
olcAccess: {0}to * by dn.base="gidNumber=0+uidNumber=0,cn=peercred,cn=extern
 al,cn=auth" read by dn.base="<%= node[:openldap][:binddn] %>" read by * none

dn: olcDatabase={2}hdb,cn=config
changetype: modify
replace: olcRootDN
olcRootDN: <%= node[:openldap][:binddn] %>
-
replace: olcSuffix
olcSuffix: <%= node[:openldap][:system][:slapd_conf][:olc_suffix] %>

# olcRootPW は別に分けないと編集できない
dn: olcDatabase={2}hdb,cn=config
changetype: modify
add: olcRootPW
# パスワードの設定値は slappasswd(8) で作成すること
olcRootPW: <%= node[:openldap][:system][:slapd_conf][:olc_root_pw] %>
