# From openldap-2.4.44/servers/slapd/slapd.conf

#
# See slapd.conf(5) for details on configuration options.
# This file should NOT be world readable.
#
include		<%= node[:openldap][:system][:schema] %>/core.schema
<%= @slapd_conf_schemas %>

# Define global ACLs to disable default read access.

# Do not enable referrals until AFTER you have a working directory
# service AND an understanding of referrals.
#referral	ldap://root.openldap.org

pidfile		<%= node[:openldap][:system][:pid_dir] %>/slapd.pid
argsfile	<%= node[:openldap][:system][:pid_dir] %>/slapd.args

# Load dynamic backend modules:
# modulepath	%MODULEDIR%
# moduleload	back_mdb.la
# moduleload	back_ldap.la
modulepath	<%= node[:openldap][:system][:module_dir] %>
moduleload	back_mdb

# Sample security restrictions
#	Require integrity protection (prevent hijacking)
#	Require 112-bit (3DES or better) encryption for updates
#	Require 63-bit encryption for simple bind
# security ssf=1 update_ssf=112 simple_bind=64

# Sample access control policy:
#	Root DSE: allow anyone to read it
#	Subschema (sub)entry DSE: allow anyone to read it
#	Other DSEs:
#		Allow self write access
#		Allow authenticated users read access
#		Allow anonymous users to authenticate
#	Directives needed to implement policy:
# access to dn.base="" by * read
# access to dn.base="cn=Subschema" by * read
# access to *
#	by self write
#	by users read
#	by anonymous auth
#
# if no access controls are present, the default policy
# allows anyone and everyone to read anything but restricts
# updates to rootdn.  (e.g., "access to * by * read")
#
# rootdn can always read and write EVERYTHING!

#######################################################################
# MDB database definitions
#######################################################################

database	mdb
maxsize		1073741824
suffix		"<%= node[:openldap][:system][:slapd_conf][:olc_suffix] %>"
rootdn		"<%= node[:openldap][:binddn] %>"
# Cleartext passwords, especially for the rootdn, should
# be avoid.  See slappasswd(8) and slapd.conf(5) for details.
# Use of strong authentication encouraged.
rootpw		<%= node[:openldap][:system][:slapd_conf][:olc_root_pw] %>
# The database directory MUST exist prior to running slapd AND 
# should only be accessible by the slapd and slap tools.
# Mode 700 recommended.
directory	<%= node[:openldap][:system][:data_dir] %>
# Indices to maintain
index	objectClass	eq
